
@model List<GetReservationVM>


<h2>Gələn Rezervasiyalar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Tarix</th>
            <th>Əməliyyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.FullName</td>
                <td>@r.Email</td>
                <td>@r.Phone</td>
                <td>@r.ReservationDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <form asp-action="Delete" method="post" asp-controller="Reservation" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@r.Id" />
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Rezervasiyanı silmək istədiyinizə əminsiniz?');">
                            Sil
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

